<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</head>
<body>
    <h3 style="text-align: center;"> DATA from the csv file</h1>
        <table class="table table-dark">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">NAME</th>
                <th scope="col">STUDENT ID</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>KIRAN VENKATESH KULKARNI</td>
                <td>1001848434</td>
              </tr>
            </tbody>
          </table>
          <h1>N largest quakes</h1>
        <table class="table table-striped">
            <tr>
              <th>time</th>
              <th>latitude</th>
              <th>longitude</th>
              <th>id</th>
              <th>Place</th>
            </tr>
            {% for items in dsp %}
            <tr>
                <td>{{items[0]}}</td>
                <td>{{items[1]}}</td>
                <td>{{items[2]}}</td>
                <td>{{items[3]}}</td>
                <td>{{items[4]}}</td>
            {% endfor %}
        </table>
        <h1>N smallest quakes quakes</h1>
        <table class="table table-striped">
            <tr>
              <th>time</th>
              <th>latitude</th>
              <th>longitude</th>
              <th>id</th>
              <th>Place</th>
            </tr>
            {% for items in dsp1 %}
            <tr>
              <td>{{items[0]}}</td>
              <td>{{items[1]}}</td>
              <td>{{items[2]}}</td>
              <td>{{items[3]}}</td>
              <td>{{items[4]}}</td>
            {% endfor %}
        </table>
</body>

</html>